.header-background {
    height: 400px;
    width: 100%;
}

body{
    background-image: url(../img/spiration-light.png);
}

.top-area {
    background-color: #b4ddc5;
    height: 400px;
    width: 100%;
}

.jumbo {
    position: relative;
    text-align: center;
}

.info-text {
    color: white;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#product-search {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-content {
    color: black;
    background-color: #abcdef;
}

#ebay-result, #youtube-results{
    max-width: 45%;
    display: block;
    align-content: center;
    background-color: rgba(221, 221, 221, .35);
    text-align: center;
    border: 2px solid #ccc;
    margin: 20px;
    visibility: hidden;
    padding: 50px;
}

.logo{
    max-width: 100%
}

.ebayPic{
    border: 2px solid #fff;
}
/* .container {
    margin-left: 0px;
    margin-right: 0px;
} */

#trending-products {
    text-align: center;
}

#about {
    font-size: 25px;
    line-height: 70px;
    float: inherit;
    padding-top: 30px;
    padding-left: 50px;
    margin-left: 50px;
    color: rgb(10, 10, 10);
}
#pure {
    font-size: 35px;
    font-weight: bolder;
    color: rgb(136, 224, 179);
    margin-right: 50px;
    margin-left: 50px;
    padding-top: 30px;
}
   